link_out.json
[
    {
        "id": "aeec4e917451fa05",
        "type": "tab",
        "label": "link out",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d6049c5973d786d",
        "type": "inject",
        "z": "aeec4e917451fa05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "4defe9bd45bd93f2"
            ]
        ]
    },
    {
        "id": "4defe9bd45bd93f2",
        "type": "debug",
        "z": "aeec4e917451fa05",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 360,
        "wires": []
    },
    {
        "id": "1c61df568c285124",
        "type": "status",
        "z": "aeec4e917451fa05",
        "name": "status.text ",
        "scope": [
            "4defe9bd45bd93f2",
            "9d6049c5973d786d"
        ],
        "x": 140,
        "y": 460,
        "wires": [
            [
                "b04d4491937a78a9"
            ]
        ]
    },
    {
        "id": "b04d4491937a78a9",
        "type": "debug",
        "z": "aeec4e917451fa05",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "25d1e6bee6ad04d8",
        "type": "inject",
        "z": "aeec4e917451fa05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "9571ca1baa2f2125"
            ]
        ]
    },
    {
        "id": "9571ca1baa2f2125",
        "type": "function",
        "z": "aeec4e917451fa05",
        "name": "function 2",
        "func": "//Cyndell\n//Change the payload to be a formatted Date String\nvar msg10 = { payload: \"1\" };\nvar msg11 = { payload: \"2\" };\nvar msg12 = { payload: \"3\" };\nvar msg13 = { payload: \"4\" };\n//Return the message so it can be sent on\nreturn [msg10, msg11, msg12, msg13];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 900,
        "wires": [
            [
                "97e4813e0527dbb9"
            ],
            [
                "a759f04d484dfc33"
            ],
            [
                "a81635f3c1fd6581"
            ],
            [
                "46f97bc040c91c40"
            ]
        ]
    },
    {
        "id": "97e4813e0527dbb9",
        "type": "debug",
        "z": "aeec4e917451fa05",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "a759f04d484dfc33",
        "type": "debug",
        "z": "aeec4e917451fa05",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "a81635f3c1fd6581",
        "type": "debug",
        "z": "aeec4e917451fa05",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "46f97bc040c91c40",
        "type": "link out",
        "z": "aeec4e917451fa05",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "23163ada706182f4"
        ],
        "x": 195,
        "y": 1000,
        "wires": []
    }
]